.reveal .code-span {
    color: red;
    background-color: white;
    border-radius: 3px;
}

.reveal {
    /* override font size globally, slightly smaller than most themes */
    font-size: 36px;
}

.reveal-print .reveal {
    /* override font size for printing to avoid overflow issues */
    font-size: 20px;
}

.reveal .mermaid {
    /* force white background for mermaid diagrams */
    background-color: white
}