.reveal .code-span {
    color: red;
    background-color: white;
    border-radius: 3px;
}

.reveal {
    font-size: 36px;
}

.reveal-print .reveal {
    /* override font size for printing */
    font-size: 20px;
}
